[2021-11-17 03:14] nschneid opened #12 "consistency checks"
@mjpost pointed me to this repo as the place for the next-gen ACL publications software. Some feature requests based on experience with the Anthology:

- Warn about missing abstracts
- Specify SIGs for workshops
- For colocated events, ensure consistency of the address field by default. Currently this is a source of confusion (e.g. [BlackboxNLP 2021](https://aclanthology.org/volumes/2021.blackboxn

[2021-11-18 09:22] zhzhang opened #13 "Edge cases"
- Line break for authors in ToC needs to be indented in multiline.
- Left justify the sponsor logos.
- Line break for wrapped program committee lines.

[2021-11-19 12:58] ryancotterell commented on #12
Hey Nathan!

Thanks for reaching out! The abstract warning code should probably be in the pubcheck, I think. If I understand correctly, you would like to output a warning if the author has forgotten an abstract?

The second two bullet points, again if I have understood correctly, seem harder to implement. They are consistency *across* workshops, is that right? I think we could do that with some ad

[2022-03-06 17:08] ryancotterell opened #26 "No sponsors"
I added a bit of code to handle the case when the workshop declares no sponsors. However, we also need to remove "The HumEval organizers gratefully acknowledge the support from the following sponsors." on the second page. Do you have any suggestions on how to do this cleanly, @zhzhang?

[2022-03-06 20:49] Shimorina opened #27 "title on the front matter"
Hello,

When I compile our [workshop proceedings](https://github.com/acl-2022/HumanEval), the title on the front page begins with the year.

![image](https://user-images.githubusercontent.com/9607332/156941566-f36142fe-f7d1-42d2-95d5-12f6787f68f2.png)

[2022-03-06 20:55] Shimorina opened #28 "single-day workshop"
If a workshop lasts one day, the build gives the following on the front page:

![image](https://user-images.githubusercontent.com/9607332/156941619-a7c8b300-afe5-430e-bbe8-38132d5755fa.png)

Is there a way to remedy this behaviour in `conference_details.yml`?

[2022-03-06 20:58] Shimorina opened #29 "integration of previous instructions"
For workshop proceedings generation, are we still following the recommendations from previous years that were created for START? For example, for the title page it is [recommended](https://github.com/acl-org/ACLPUB/blob/master/docs/start.md#step-41-title-page-sections-subtab) to put the name of the conference on top (`ACL 2022`), title without "workshop of" and so on.

[2022-03-07 03:12] zhzhang commented on #26
Yea, we can make the the `sponsors.yml` input entirely optional and omit the page if so.

[2022-03-07 04:59] zhzhang commented on #28
Working on a fix!

[2022-03-07 08:08] #26 closed

[2022-03-07 11:21] ryancotterell commented on #12
I wanted to revisit this now as we are actually building the proceedings for workshops. The general abstract will be that all formatting issues related to individual publications will be done with the pubcheck script. However, you also raised some issues with workshop volumes. At the moment, our build fails if you don't give a location or much of the meta-data. We are relaxing that to errors. Woul

[2022-03-07 12:16] crux82 commented on #27
Hi Anastasia,

thank you for your suggestion

@zhzhang To solve this issue, I think we can just replace from the line

https://github.com/rycolab/aclpub2/blob/main/aclpub2/templates/proceedings.tex#L51

the statement
`{\bf\LARGE \VAR{conference.start_date.year} \VAR{conference.name}}`
with
`{\bf\LARGE \VAR{conference.name}}`

Is it correct?

Thank you all

Danilo

[2022-03-07 13:55] nschneid commented on #12
I don't know the exact workflow but it seems like the location should be provided at the event level, not the individual volume level. Otherwise you could end up with the location spelled differently in different workshops of the same conference.

[2022-03-07 14:39] ryancotterell commented on #12
The workflow is more or less that each workshop builds its own proceedings. I see your point now. We should have an event-level check for consistency? That is certainly doable and automatable.

[2022-03-08 04:57] #27 closed

[2022-03-08 04:57] #28 closed

[2022-03-08 04:58] zhzhang commented on #29
@crux82 what's the verdict on this?
We can change the `conference_details.yml` to `venue_details.yml` maybe, and have some field to handle rendering the conference name on top, with the workshop title underneath?

[2022-03-09 17:46] crux82 commented on #29
No, even the workshops of the previous ACL did not adopt this recommendation.

https://aclanthology.org/2021.iwslt-1.0.pdf
https://aclanthology.org/2021.splurobonlp-1.0.pdf
https://aclanthology.org/2021.mwe-1.0.pdf
(I just randomly selected the proceedings of some random workshops from https://aclanthology.org/events/acl-2021/)

[2022-03-09 17:46] #29 closed

[2022-03-09 18:11] crux82 opened #33 "Some modifications in the conference_details.yml for the publication in ACL anthology"
@zhzhang: for the publication in the ACL anthology, the `conference_details.yml` file should contain the following fields:

- `editors`: the list of the volume editors (i.e., the Program Chairs in the main conference and the Workshop Organizers in the workshop). It should be a list of entities with name/family name/middle name as the authors of the papers.
- the `address` of the conference: it sho

[2022-03-10 09:01] Shimorina commented on #29
Well, we did it at EACL last year: https://aclanthology.org/2021.humeval-1.0.pdf :)

And there were some others (with different variations):
https://aclanthology.org/2021.hcinlp-1.0.pdf
https://aclanthology.org/2021.hackashop-1.0.pdf
https://aclanthology.org/2021.dravidianlangtech-1.0.pdf
https://aclanthology.org/2021.bea-1.0.pdf
etc...

So the point here is if we adopt the instructions, to ensure

[2022-03-10 09:51] crux82 commented on #29
Hi, you are totally right.

In fact, we are preparing a specific guide with Elena Cabrio (one of the Workshop chairs - @ElenaCabrio ) and we will update the "old" guide to avoid such inconsistencies.

Since you already "tested" aclpub2, would you be so kind to be the first to check this guide in the next few days, to avoid such inconsistencies?

Thank you again for your support and suggestions.

B

[2022-03-14 01:38] mjpost commented on #33
If you're referring to [this example](https://github.com/rycolab/aclpub2/blob/main/examples/sigdial/conference_details.yml). Please see my notes [here on this Wiki page](https://github.com/rycolab/aclpub2/wiki/Anthology-ingestion-format) for more information about what I think is missing.

[2022-03-14 14:37] crux82 commented on #33
What do you think about this for a conference like ACL (that is composed of several volumes)?

[code]

The above schema is the same for all the volumes, except the field volume:
- Proceedings of the Conference (Volume 1: Long Papers)
- Proceedings of the Conference (Volume 2: Short Papers)
- Proceedings of the Conference: Student Research Workshop
- Proceedings of the Conference: System Demonstrat

[2022-03-14 16:37] mjpost commented on #33
They have put the wrong title in the document. The title is “Proceedings of the 59th Annual Meeting of the Association for Computational Linguistics and the 11th International Joint Conference on Natural Language Processing (Volume 1: Long Papers)”.

[2022-03-14 16:38] mjpost commented on #33
(Best to read the titles from the metadata: https://aclanthology.org/volumes/2021.acl-long/)

[2022-03-14 19:07] crux82 opened #35 "Problems with pax and proceedings with hundred of papers"
@zhzhang @ryancotterell  I think I found the issue about the ACL compile error.

It was not a problem only tied to `save_size`, but also to `pool_size`.

Here is what I did on my mac.
First I relaxed the umount of files I could open:

`ulimit -S -n 2048`

I searched for the place to add my parameters:

`kpsewhich --all texmf.cnf`

It pointed to the two files

[code]

The first one needed to be mod

[2022-03-14 19:08] ryancotterell commented on #35
Great! So is this working now?

[2022-03-14 21:07] crux82 commented on #35
@zhzhang @ryancotterell : maybe I have a viable solution.

We can build two exported versions of the papers:
1. The main (whole) proceedings with the concatenation of papers, without inner links (so disabling the pax library).
2. A second export for *each* watermarked paper: each paper should be read, watermarked (even with pages), and saved, preserving the original inner links. After all, these a

[2022-03-14 21:48] crux82 commented on #33
Ok, let us see if I understood.
In the following examples, I duplicated some info.
- The field `title` will be used for the metadata you require
- The fields `event` and `volume` will be used for the front matter.

@ryancotterell @zhzhang @marcopoli : do you agree?

[code]

and for a workshop

[code]

[2022-03-15 18:30] crux82 commented on #35
@zhzhang: we must remember to also include in the watermarked paper a dedicated paper with only the frontmatter (to be included alone in aclanthology)

[2022-03-15 18:31] crux82 commented on #33
@mjpost : sorry to bother you. Can you confirm the above examples?

[2022-03-15 20:40] esalesky opened #36 "list names of sponsors in addition to logos"
In addition to "The X organizers gratefully acknowledge the support from the following sponsors" it would be nice to list the names of the sponsors (and possibly additional partners the workshop has been put on in cooperation with, in the case of SIGs which are affiliated with ACL and also other organizations).

This could be done on a previous page using the preface tex, but ideally the informati

[2022-03-15 20:49] esalesky opened #37 "allow sub-blocks for organizing committee, sponsors"
It would be nice to support (one level of) sub-blocks in the yml for the organizing committee and sponsors.
This would allow organizers of multiple shared tasks to be grouped within one header as below on [page 5 of the 2021 IWSLT proceedings](https://aclanthology.org/2021.iwslt-1.pdf), or if there is more than one set of sponsorship tiers (for $ and donations, for example) these to be entered und

[2022-03-16 09:19] ShuoLiang-95 opened #38 "Title format in camera-ready version of ACL2022"
Following the instruction, I protect some letters with curly braces when I fill the title box, but after submitting, I notice that the curly braces also show on the title of the openreview page.

![image](https://user-images.githubusercontent.com/54581582/158556540-75f12f87-498c-40e0-918b-c178f11001bc.png)

The instruction says "These curly braces will not appear in the online conference program o

[2022-03-16 09:21] ryancotterell commented on #38
This is not an ACLPUB2 issue. You should redirect the question to the ARR EiCs who are in charge of OpenReivew. Or is there someone else that should be emailed @crux82?

[2022-03-16 09:21] #38 closed

[2022-03-16 13:13] mjpost commented on #33
I still think this is confusing. To the user, what is the difference between `title`, `event`, and `volume`? Also, `abbreviation` suggests something the organizers can just pick. Is `title` the name of the event (e.g., The 5th annual meeting of the…) or the volume of papers published at that event (in which case it is usually “Proceedings of the 5th annual). I would suggest more explicit key names

[2022-03-16 15:19] crux82 commented on #33
@mjpost

Thanks!

I see your point.
OK, let's try again

[code]

and for a workshop

[code]

[2022-03-17 14:48] mjpost commented on #33
Yes, I am suggesting you change the frontmatter to be consistent with prior years.

You should have two names: “event-name”, which is something like “60th annual meeting of the…”, and “book-title”, which is typically “Proceedings of the {event-title}” but which may vary and so should be a separate field.

The subtitle you are using, “Proceedings of the Conference” is a stylistic approach used on t

[2022-03-17 17:22] crux82 commented on #33
OK @mjpost . Hope this is the last time I bother you :-)

If you confirm the format of the conference volumes and (more critical) the workshop proceedings... I would like to ask @zhzhang to update the software.

```book_title``` will be used by AclAnthology (so it can be ignored)
```event_name``` is the actual field ```name```
```cover_subtitle``` is the actual field ```volume```

[code]

and for

[2022-03-17 17:58] crux82 opened #40 "Handling Author's name in uppercase"
When name/family names in the papers.yml are uppercase, this is propagated in the author's index.

@zhzhang What about processing this info so that only the first letter is uppercase?

@rswilkens Is it correct to apply this processing during your export?

[2022-03-17 18:06] crux82 commented on #35
@zhzhang @ryancotterell I shared with you on slack the link to the first versions of the proceedings with all long papers. If you like that output, you can close this issue.

[2022-03-17 18:14] mjpost commented on #33
Please don’t worry about bothering me! This is hard work and you’re in the thick of it. Thanks for including me in the discussion; I hope it eases things down the line.

What you proposed looks great. I think the field names are clear. If there is documentation, I would be happy to help augment it.

[2022-03-17 18:35] crux82 commented on #33
@mjpost We have a draft of the guide (especially for Workshop organizers) that we are closing with Elena.
@ElenaCabrio can you add Matt to the actual repository? I would also ask you to update the guide with the above format and communicate it to the organizers that already started using aclpub2

[2022-03-18 08:11] rswilkens commented on #40
Name export extracts only the information as it is stored on OR. Until now,
no post-processing has been applied.

On Thu, Mar 17, 2022 at 6:59 PM Danilo Croce ***@***.***>
wrote:

[2022-03-18 09:36] crux82 commented on #40
@rswilkens My idea is that your export should post-process each name/surname/middle-name **that is completely uppercase** changing the first letter of each token (separated by spaces) in uppercase the remaining in lowercase...

Then, we are still able to manually fix some names...

If we apply this pre-processing in aclpub2... we would not be able to recover...

[2022-03-18 10:13] crux82 opened #41 "exporting front-matter in a separate paper."
@zhzhang we are required also to add in the folder with the watermarked paper an additional paper, numbered 0.pdf the material of the front-matter (i.e., from the cover to the last page of the table of content) such as https://aclanthology.org/2021.acl-long.0.pdf

[2022-03-18 10:39] crux82 opened #42 "problem when generating program commitee"
When the first author of the `entries` in a block misses the `institution` field, the entire block is not displayed (i.e., it is not reported in the latex file).

@rswilkens : can you check with the responsible(s) of the program committee (I imagine the Program Chair) to check this missing information?

@zhzhang : anyway, I suggest that, when the institution is missing, the software should not dis

[2022-03-18 10:58] rswilkens commented on #42
I'll check with the PCs, but this might be critical for the workshops. The
institution field is from peoples' profiles on OR. In sum, will it trigger
an error every time someone doesn't fill in this field?

On Fri, Mar 18, 2022 at 11:39 AM Danilo Croce ***@***.***>
wrote:

[2022-03-18 11:02] crux82 commented on #42
No, I just suggest removing the comma.
It is then the responsibility of the volume editors (i.e., the organizers of each workshop) to check this information and eventually integrate it by hand...
However, I suggest adding the Institution in OpenReview as a required input.

[2022-03-18 11:05] #35 closed

[2022-03-20 14:02] crux82 opened #43 "Add some automatic checks"
It would be useful adding some checks at the start of the generation process.

When loading (especially the manually defined files) the software should raise come warnings about the consistency of those files.

For example, we should check that the `conference.yml` is consistent with the one agreed with ACL anthology discussed here:
https://github.com/rycolab/aclpub2/issues/33
For example, some fi

[2022-03-20 14:11] crux82 opened #44 "We need that the produced material is compliant with ACL anthology"
@zhzhang Now the produced proceedings (and watermarked papers) are reported in a `build` folder.

The name of the folder should be a parameter of the script.

The structure of this folder should be compliant with a specific format shared with @mjpost and reported at https://github.com/ElenaCabrio/aclpub2-Tutorial#expected-output

[2022-03-20 22:29] #41 closed

[2022-03-23 18:26] #40 closed

[2022-03-24 16:49] #33 closed

[2022-03-27 20:13] crux82 commented on #42
@zhzhang Unfortunately, when the institution of the first entry of a group is missing, the group is still not shown

[2022-03-27 20:48] crux82 opened #49 "Handling Author's name in lowercase (and the "_" symbol)"
@rswilkens : as for #40 (Handling Author's name in lowercase) I would as to export names that, when lowercase, are processed in the same way. Moreover, I would as to replace eventual "_" with "\\\_" to be compliant with latex

[2022-03-29 01:35] #42 closed

[2022-03-29 01:37] zhzhang commented on #43
In order to do this properly, I'm going to replace the internals with dataclasses so that we have more strongly typed generation scripts overall.

[2022-03-29 02:56] #13 closed

[2022-03-29 15:51] crux82 opened #52 "A different paging for Sponsors in the Booklet"
@marcopoli we need to define a customized way to show sponsors' logos/advertise in the booklet (e.g., different size for a diamond sponsors)

[2022-03-31 11:46] Shimorina opened #53 "missing python scripts for OpenReview export"
Your README mentions two python scripts for OpenReview exports: `or2papers.py` and `or2program_committee.py`. However, I couldn't find them in this repository.

Could you please indicate where they are?

[2022-03-31 12:05] crux82 commented on #53
@rswilkens can you add them when ready?

Thanks!

[2022-03-31 15:26] crux82 opened #54 "Adding list of names/middle_name/family_name in the organizing committee or program committee section"
I just received the list of reviewers. But aclpub2 does not work.

@rswilkens : reviewers should be printed grouped by names, without institutions.
Actually aclpub2 has a specific flag `name_block` you should add for action editors and reviewers

[code]

@zhzhang : however it does not work... it seems it tries to both generate the compact version and the other one

[2022-04-02 18:52] crux82 commented on #54
@rswilkens : moreover the exported mateural should be escaped to be compiled in latex

[2022-04-03 16:46] zhzhang commented on #53
Closing, as Rodrigo has added these already https://github.com/rycolab/aclpub2/tree/main/openreview

[2022-04-03 16:46] #53 closed

[2022-04-03 16:51] #54 closed

[2022-04-03 18:49] crux82 commented on #12
As the first version of the whole procedure is almost complete, I would like to discuss these points to check if I completely understood:

- We could add a dedicated warning if one or more papers in the `papers.yml` lack the abstract. @zhzhang can you add this dedicated warning?
- The information about the event (like the location) is included in the `conference_details.yml`. Since they can be sen

[2022-04-03 19:34] Shimorina commented on #53
Both scripts give this:
[code]

[2022-04-03 20:05] #49 closed

[2022-04-03 20:11] crux82 commented on #53
The problem should be solved.

@Shimorina : can you kindly confirm it?

[2022-04-03 20:39] Shimorina commented on #53
Thank you, it works now!

However, in both files this line
`acl_name = 'aclweb.org/ACL/2022/Conference' if len(sys.argv)>3 else sys.argv[3]`

should be replaced with, for example,
`acl_name = 'aclweb.org/ACL/2022/Conference' if len(sys.argv) > 4 else sys.argv[3]`

Otherwise, the scripts never take the fourth argument with the workshop name and default to the ACL conference, and nothing is extracte

[2022-04-04 10:02] rswilkens commented on #53
It should be solved now.
I replaced ">" by "<=".

[2022-04-04 10:21] crux82 commented on #53
Thanks @rswilkens !

@Shimorina : does it work for you?

[2022-04-04 10:24] Shimorina commented on #53
yes, it should be working. However, new updates are only in the `openreview` branch, not on `master` :)

[2022-04-04 10:33] crux82 commented on #53
Merged!

[2022-04-04 15:22] crux82 commented on #54
@zhzhang I successfully generated the program committee with the grouped names. However, in each group, the names are not sorted. They should be sorted by family name (if equal family name, then by the first name).

[2022-04-04 17:52] crux82 commented on #54
solved

[2022-04-04 20:32] Shimorina opened #58 "or2papers.py does not extract accepted papers only"
I feel a little bit boring, but I have another issue for you, sorry!

`or2papers.py` currently extracts all submitted papers with both 'accept' and 'reject' status. However, README says that it should extract only accepted papers.

[2022-04-04 20:35] crux82 commented on #58
You are not absolutely boring! We really appreciate beta testers :-)

We will fix it (hopefully tomorrow with @rswilkens )

Stay tuned!

[2022-04-05 07:58] rswilkens commented on #58
filter added

[2022-04-05 07:58] #58 closed

[2022-04-05 11:17] crux82 opened #61 "Division in Syllables"
Building proceedings for NLP conferences, we should carefully select which kind of language is used when dividing in syllables :-)

For now, I set in `proceedings.tex`

`\usepackage[english,latin]{babel}`

Not really sure if this is the correct decision.

@marcopoli : you should align the template of the booklet.

[2022-04-05 20:39] crux82 opened #62 "Add scripts for downloading material from Softconf"
@valeriobasile @ElenaCabrio I think it would be very useful to add your scripts to export information from Softconf into the ACLPUB2 format.

Then, I would kindly ask you to extend the guide ad done for exporting information from OpenReview. It would be really helpful for some workshop organizers that are using softconf ;-)

TNX!

[2022-04-06 12:06] #44 closed

[2022-04-06 19:20] Shimorina commented on #58
Thank you!

Just one little final remark concerning README. In the Warnings section it is written:

It was not very clear for me what means "submitted/committed papers".

Currently the script doesn't extract accepted papers committed via ARR. It would be worth including this info in the warnings.

[2022-04-08 04:56] chokkan opened #64 "Adding slides and websites of tutorials"
I (as a tutorial co-chair of ACL 2022) am wondering how we can associate tutorial slides from ACL Anthology. There are probably two ways to do this:

1. Collect tutorial slides from instructors and include them as an attachment. I found one instance in https://aclanthology.org/events/acl-2019/#p19-4

In order to realize this, I may need to specify a file in `papers.yml`:

[code]

2. Add a link to

[2022-04-08 06:46] crux82 commented on #64
I think that you just add your file to the `attachment` folder and use the `attachment` field.
In the field `attribute` you should apply the local path to the file (e.g., `  - file: attachments/90_zip`) or a URL (e.g., `  - file: https://some-url-of-the-tutorial/`).
Finally, the attribute `type` type can be set to `presentation`.

Here a possible example

[code]

@mjpost do you confirm it?

[2022-04-08 08:10] crux82 commented on #64
In any way, please refer to this section of our "guide"

https://github.com/rycolab/aclpub2#papersyml

[2022-04-08 10:24] chokkan commented on #64
I read this guide before.

But I also noticed that `attachments` fields were probably replaced with `badges` in [sigdial](https://github.com/rycolab/aclpub2/blob/main/examples/sigdial/papers.yml) example. Which is correct?

I'm not sure what kind of strings are allowed in the `type` field. The documentation says,

[code]

but I can only see `relased_code` and `released_model_artifact` in the sigdi

[2022-04-08 11:45] mjpost commented on #64
This looks correct (what Daniel noted). `released_code` and `released_model_artifact` should not be used. We could add `code` as another option, however.

[2022-04-08 12:51] crux82 commented on #64
@mjpost @chokkan you are right, the example was incorrect.

I updated it.
Notice that according to the guide, the attribute `file` can be used to express a file in the submission, while `url` is a link to external resources that should be linked in the Anthology.

Are the example and guide clear now for you?

[2022-04-09 00:23] chokkan commented on #64
@crux82 Thank you for updating the example and documentation. They are clear to me.

[2022-04-09 18:21] #64 closed

[2022-04-11 17:06] matthiasgalle opened #65 "Trailing / is important"
OK, maybe I am the only one, but I just spent quite some time figuring out that the last '/' is not part of the ID of the workshop/conference.

Eg, if you run the scripts with `aclweb.org/ACL/2022/Conference/` instead of `aclweb.org/ACL/2022/Conference` than the openreview-py API returns empty lists.

My proposal would be to add a .strip('/') inside the script.

[2022-04-13 18:04] bharathichezhiyan opened #66 "Error during sigdial (Misplaced alignment tab character & )"
While running this command
./bin/generate examples/sigdial --proceedings --handbook

Misplaced alignment tab character &.
<recently read> &
l.275    Ruihong Huang, Texas A\\&
                                                        M University, United States\\

[2022-04-13 18:08] bharathichezhiyan opened #67 "Error NoneType object is not iterable"
./bin/generate examples/sigdial --proceedings --handbook

Traceback (most recent call last):
  File "/home/bharathi/Desktop/aclpub2/./bin/generate", line 32, in <module>
    generate_handbook(args.path, args.overwrite)
  File "/home/bharathi/Desktop/aclpub2/aclpub2/generate.py", line 176, in generate_handbook
    ) = load_configs_handbook(root)
  File "/home/bharathi/Desktop/aclpub2/aclpub2/genera

[2022-04-13 19:45] crux82 commented on #67
It seems that you are trying ti build Aldo the booklet. Do you really need It?

If not, you should onlu use

./bin/generate examples/sigdial --proceedings

[2022-04-13 19:51] crux82 commented on #66
Did you change the input from the sigdial example?

In this case, remember that input text should be escaped to be later compiled in latex

[2022-04-13 20:25] bharathichezhiyan commented on #66
I did not change it.
Anyway it worked when I use the below commands. Thanks a million.
./bin/generate examples/sigdial --proceedings --overwite.

[2022-04-13 20:26] bharathichezhiyan commented on #67
Thanks it worked with ./bin/generate examples/sigdial --proceedings --overwrite

[2022-04-13 20:29] crux82 commented on #66
Perfect

[2022-04-13 20:29] #66 closed

[2022-04-13 20:29] #67 closed

[2022-04-14 06:37] crux82 commented on #65
@rswilkens can you please take a look?

TNX

[2022-04-14 14:47] ivulic opened #68 "Book title too long for the watermark"
What should we do if the book title is too long and cannot fit into a single line in the watermark?

On START this would be solved by customising the placement around the following line in proceedings.tex:

\put(105,16){\makebox(0,0){\emph{Proceedings of Deep Learning Inside Out (DeeLIO 2022):\\ The 3rd Workshop on Knowledge Extraction and Integration for Deep Learning Architectures}, pages 1 - 24

[2022-04-14 14:58] crux82 commented on #68
We could add to the `conference_details.yml` an additional optional field called something like `watermark_book_title` where this line break can be added.

If it is set, it is used to watermark the papers. If not, the original `book_title` can be used.

@zhzhang @ryancotterell : what do you think? It may sound like a workaround, but it is ... simple and hopefully effective.

[2022-04-14 20:16] crux82 opened #69 "The program disappeared"
We accidentally removed the possibility to add a program to the proceedings (required in some workshops).
It should be re-added

[2022-04-14 21:00] crux82 commented on #68
@ivulic I just uploaded a new branch

 https://github.com/rycolab/aclpub2/tree/program-reintroduced_trim-watermarks

that will be soon merged into the main branch.

You can now add to `conference_details.yml` the optional field called `watermark_book_title` where the name of the proceedings can be customized. You find an example also in the same branch in the sigdial example.

Does it solve your i

[2022-04-15 14:52] jerbarnes opened #71 "aclpub2/generate hangs up"
Hi,

Following Danilo's advice, I updated the aclpub2 version and changed the conference_details.yml from

[code]

to

[code]

However, when I run ```./bin/generate ../Wassa --proceedings --overwrite``` to generate the proceedings, the script hangs up after processing 3 papers. It doesn't give any error that I can find. Any advice?

[2022-04-15 14:56] crux82 commented on #71
I can dowload the scripts from the shared repository.
Can you share with me the PDFs with a private message?

[2022-04-15 16:20] jerbarnes commented on #71
shared via email

[2022-04-15 17:53] #68 closed

[2022-04-15 17:53] #69 closed

[2022-04-15 18:12] crux82 commented on #71
It was caused by the presence of "&" in the `book_title`that was not correctly escaped.
Now I fixed it and it should work.
Please update up to the last commit of the main branch.

Two final comments:
- We added the possibility to provide a customized watermark. It can be useful (as in your case) for long book titles. You just need to add the optional field in the `conference_details.yml`like

[cod

[2022-04-15 18:55] jerbarnes commented on #71
Thank you, Danilo. It now compiles correctly. I haven't completed the program.yml yet.

[2022-04-15 18:56] #71 closed

[2022-04-16 17:25] patrick-s-h-lewis opened #72 "infinite copy loop if calling aclpub2 on the working directory"
The way my directory was structured, acl-pub2 was a submodule, and I was calling the generate command on my working directory.

thus Line 129 got into a problematic loop:
`shutil.copytree(input_path, Path(output_dir, "inputs"))`
(https://github.com/rycolab/aclpub2/blob/main/aclpub2/generate.py#L129)
trying to copy a path that contains the output_dir into the output_dir.

Basically, the current cod

[2022-04-18 08:19] rswilkens commented on #65
.strip('/') added. Thanks!

[2022-04-18 08:19] #65 closed

[2022-04-19 21:39] esalesky commented on #72
Seconding this issue; I previously ran `aclpub2/bin/generate ./ --proceedings —overwrite` successfully with `aclpub2` as a submodule as set up for us, but after updating aclpub2 this creates a breaking loop of
`[Errno 63] File name too long: 'output/inputs/output/inputs/output/inputs/output/inputs/output/inputs/output/inputs/output/inputs/output/inputs/output/inputs/output/input` ...
I tried runni

[2022-04-19 21:53] crux82 commented on #72
Unfortunately, this bug is still not fixed (we are working on that).

It is essentially due to the fact that the software tries to (recursively!!!) copy the folder containing the input material (i.e., the yaml files, the pdf papers, and attachments) in the output directory.

A good "workaround" is to pack all the input material in an internal folder (e.g., `input`) that is inside your main folder

[2022-04-19 22:29] esalesky opened #74 "escaping of names"
How should names be escaped to build, and in which files does this need to be done?
I had previously built my proceedings without escaping names in `.yml` files; I didn't change the yml file but now have a breaking error as some values are saved as None
[code]
Should we be using hex codes like `institution: "Universit\xE4t Potsdam"`, and is this needed in all yml files?

[2022-04-19 22:52] esalesky commented on #74
Closing; this was my error, there was in fact an empty field in one of my yml files which didn't previously cause the build to break but now does (which is a good thing! though it was a bit hard to track down from the error thrown)

If anyone stumbles on this wondering about escaping in the future, either of the following does build successfully — either including characters with diacritics raw li

[2022-04-19 22:52] #74 closed

[2022-04-19 22:53] crux82 commented on #74
Unfortunately one of the entries of your program_committee file was "ill-formed": the institution was None.

I updated the software to improve the warning.

Thank you for the suggestion

[2022-04-19 22:54] crux82 commented on #74
And thank you for confirming that special characters are correctly shown.

[2022-04-19 22:55] esalesky commented on #72
Thanks! I've updated to do this

[2022-04-19 22:57] esalesky opened #75 "sponsor logos in proceedings rendering overlapping"
The sponsor logos for our workshop are currently rendered overlapping:
<img width="855" alt="image" src="https://user-images.githubusercontent.com/4117932/164114536-e75df8ea-1e50-4364-a6d5-fd4f050cbbb7.png">
Are there any guidelines on image size or ways to add line breaks to prevent this?
Thanks!

[2022-04-19 23:04] crux82 commented on #75
Because your initial jpg file is (really) hi-res.
It is new to me but latex itself is not able to downscale it.
If you shrink it a little bit, it should work.

[2022-04-19 23:28] esalesky commented on #75
Reducing resolution keeps them from overlapping; I'll play with resizing to make them look more similar.

[2022-04-19 23:41] crux82 commented on #75
If you are familiar with latex you can quite easily modify this template

https://github.com/rycolab/aclpub2/blob/01083652eb645ffc0d1119e95414303f2f0b0450/aclpub2/templates/proceedings.tex#L77-L89

Where the number `4` indicates the number of images per row and `0.21\linewidth` is the width of each image

[2022-04-19 23:43] esalesky commented on #75
Okay, I can do that. Thank you very much for the exact pointers!

[2022-04-19 23:43] #75 closed

[2022-04-19 23:50] crux82 commented on #72
The last commit [d09be5e](https://github.com/rycolab/aclpub2/commit/d09be5e1b564e5ce1ed6d6427330301efe75ce06) should solve the issue.

@esalesky @patrick-s-h-lewis can you please check if it works now? Thanks!

[2022-04-20 06:28] #72 closed

[2022-04-21 20:21] crux82 opened #77 "Add the volume_name in the conference.yml"
I must remember to add the field volume_name in the conference.yaml

for workshop the value is 1

for the main conference this value reflect the volume:
long | short | tutorials | ...

I must remember to update the sigdial example and the readme

[2022-04-21 20:30] crux82 opened #78 "Problem in the attachment fields when exporting papers.yml from OpenReview"
@rswilkens : The attachments entries list attachment paths like “attachments/50_zip”  contain the underscore.
There is no such file named 50_zip. Instead, there is attachments/50.zip

Is it a problem with the export script?

TNX

[2022-04-21 20:40] crux82 opened #79 "Avoid replicate attachments in the input dir"
When saving the input material in the input_dir, copying also the attachment is a waste of memory.

We can remove it.

[2022-04-22 06:47] rswilkens commented on #78
in fact, it creates the write file (e.g. attachments/50.zip) but the path in the yml is wrong (e.g. attachments/50_zip). I fixed the code.

[2022-04-22 06:47] #78 closed

[2022-04-23 09:00] crux82 opened #81 "Symbol \_ in the mails within the paper.yml file"
@rswilkens in the actual export we have several e-mails with the symbol \_ in the e-mails in the papars.yml

Is it due to an incorrect escape?

[2022-04-23 09:37] rswilkens commented on #81
That's odd. The last yml files I've shared contain "\_" instead of "_" in
the email fields, as requested (27/Mar). Can you send some examples by
Slack?

On Sat, Apr 23, 2022 at 11:00 AM Danilo Croce ***@***.***>
wrote:

[2022-04-23 09:39] crux82 commented on #81
@rswilkens Sorry you are right. I was confused by the mail from Underline.
My fault.

Closing

[2022-04-23 09:39] #81 closed

[2022-04-23 13:55] #79 closed

[2022-04-24 20:01] Shimorina opened #82 "special characters in names"
in `papers.yml`, one author last name contains a special Vietnamese character: `Lưu`

So the proceedings don't compile with the following error:
[code]
Can author names contain such characters, or should the name be modified? The ACL Anthology allows for diacritics in surnames (like `Müller`) but I'm not sure about `ư`.

Related to https://github.com/acl-org/aclpubcheck/issues/25

[2022-04-24 20:29] crux82 commented on #82
Aclpub2 generates LaTeX that shuold be compiled when in utf8. Can you try to replace with ư ?

[2022-04-25 11:17] mjpost commented on #82
The Anthology supports any unicode character. The issue here is just with your LaTeX setup.

[2022-04-25 20:08] Shimorina commented on #82
Sorry I didn't understand. Yes, I had tried to compile with `ư` but it gives the compilation error indicated above.

Following the [ACL template](https://www.overleaf.com/read/crtcwgxzjskr) for papers, this compilation problem can be solved if I add `\usepackage[T5]{fontenc}` to `proceedings.tex`.

[2022-04-25 20:36] crux82 commented on #82
great

[2022-04-25 20:56] crux82 commented on #82
We will check ASAP if `\usepackage[T5]{fontenc}` works well in general and replace in the official release

[2022-04-26 15:55] crux82 opened #83 "Make the paper IDs unique"
When putting together the paper.yml of multiple events (e.g., when building the program) it may be a clash between IDs.

We should find a way to avoid such clash (e.g., for NAACL)
Is it something to be used when downloading info or during the compiling?

[2022-04-26 19:21] valeriobasile commented on #62
First version online, see pull request https://github.com/rycolab/aclpub2/pull/84
We can take it from there.

[2022-04-26 19:21] #62 closed

[2022-04-27 11:50] crux82 commented on #52
Solved as we received the PDF for the booklet directly by the Sponsorship Director of ACL

[2022-04-27 11:50] #52 closed

[2022-04-28 20:57] crux82 commented on #82
I commented on this issue in the Readme.

The input templates use the T1 font encoding. If you are interested in different encodings (e.g., Vietnamese) you have to modify the `aclpub2/templates/proceedings.tex` by changing the statement `\usepackage[T1]{fontenc}` and specifying a different encoding, e.g., `\usepackage[T5]{fontenc}`.

It should solve the issue.

[2022-04-28 20:57] #82 closed

[2022-04-29 15:50] mjpost opened #85 "Missing editors should raise an error"

[2022-04-29 15:52] mjpost opened #86 "Need page ranges in the metadata"
BibTeX exports in the Anthology including page numbers as metadata ([for example](https://aclanthology.org/2021.acl-long.1.bib)). This is something of an anachronism but we should still support it. So we need this information as fields in `papers.yaml`.

[2022-04-29 23:32] mjpost commented on #86
This is done automatically using pdfinfo in [the original script](https://github.com/acl-org/ACLPUB/blob/master/bin/manage-db.pl), by iterating through the papers.

[2022-05-09 20:01] crux82 commented on #85
The field anthology_venue_id should be provided as well

[2022-05-11 18:26] crux82 opened #87 "Sometimes individual papers are not compiled with the watermark but the system does not raise any warning"

[2022-05-12 11:54] mjpost opened #88 "LaTeX escapes in metadata should raise an error"
Occasionally users are using LaTeX escape codes in names (e.g., `Vuli'\{c}`) or in titles (`\\`). It would be nice if the metadata-reading code would flag these and ask that unicode be used instead.

[2022-05-13 15:31] esalesky opened #89 "program on multiple pages may overlap page #s, watermark"
If a section in program.yml overflows onto a new page, such as listing multiple papers for a poster session which goes onto a 1-2  continued pages, the last entry per page will overlap with the page numbers as shown below:

<img width="749" alt="image" src="https://user-images.githubusercontent.com/4117932/168316551-39759dd2-3aed-4c88-96ea-a594ba820f17.png">

[2022-05-13 16:12] esalesky commented on #89
I have hacked this by changing `max_lines` in `process_program_proceedings` from 35 to 32 ([L388 in generate.py](https://github.com/rycolab/aclpub2/blob/main/aclpub2/generate.py#L388)), the median paper lines and max lines assumptions did not hold for us (IWSLT22)

[2022-05-14 11:51] crux82 opened #90 "Arbitrary URLs cannot be added in the papers.yml files"
The ACL Anthology cannot add Arbitrary URLs to the papers.

So we need to update the guide

[2022-05-18 13:52] mjpost opened #91 "Software should not be automatically submitted"
There are occasional instances (e.g., https://github.com/acl-org/acl-anthology/issues/1921) where software is submitted to the Anthology against the author's expectations. Submission policy should clarify that submitted software will be delivered for archival, or the final copy form should be updated to explicitly ask authors, and mention the benefits.

[2022-05-20 09:18] #61 closed

[2022-05-24 14:37] #77 closed

[2022-05-25 08:43] crux82 commented on #91
@rswilkens can you please check this warning is explicit in the open review form?

@mjpost do you think that a warning in open review is enough? When all data are downloaded the publication chair can do anything…

[2022-05-25 08:48] crux82 commented on #86
@mjpost it is the same method used in aclpub2 to count page. Do you think this is enough or you prefer the page numbers made explicit?

[2022-05-25 08:56] crux82 commented on #89
@zhzhang can you please check this issue? This would avoid issues in the naacl workshop proceedings

[2022-05-25 08:59] crux82 commented on #85
Duplicate of #43

[2022-05-25 09:00] #85 closed

[2022-05-25 13:37] #88 closed

[2022-05-26 08:48] rswilkens commented on #91
@crux82, the "Consent To Share Data" field isn't copied from ARR to ACL.

[2022-05-31 19:13] mjpost commented on #91
CC @xinru1414. Another complaint we've had is that a user updated the software at final paper time, but the system submitted the original software. Not sure if there is something to check on your end.

Thank you!

[2022-06-01 09:41] crux82 commented on #91
@mjpost @xinru1414 @rswilkens @ryancotterell

I try to summarize the procedure as it is not straightforward.

Authors upload their attachments in Rollingreview when submitting their camera ready.
At that moment, they can specify a flag with a text like "Forward this attachment to the publication".
When all the camera-ready are collected, these are forwarded to open review.
The **problem** is that

[2022-06-04 19:08] zhzhang commented on #89
got it! this is due to the table rendering overflowing due to a large number of multi-line entries. I'll adjust the tolerances.

[2022-06-04 19:11] zhzhang commented on #83
This has more to do with there not being any central database for the ACL. For the scheduling application, we prepended the source venue of the paper, i.e. TACL.123, CL.123, and that might be necessary here.

[2022-06-05 22:37] #89 closed

[2022-06-08 21:06] tnaumann opened #96 "Escaping strings in yml"
Including `&` in `program.yml` breaks the proceedings generation due to usage of a character that must be escaped in LaTeX.

E.g., consider the following `program.yml`:

[code]

This will currently break proceedings generation unless the `&` is escaped (i.e. `"Keynote Q\\&A"`) despite the original string "Keynote Q&A" being a valid yml string.

Two potential fixes might be:
- Escape strings that a

[2022-06-09 00:52] tnaumann opened #97 "Packaging for Accessibility"
Given the mix of Python and non-Python dependencies (`java`, `mactex`), it would be difficult to host this on PyPI. Nevertheless, it would be useful to package in such a way that it can be more easily called as a command-line executable in order to improve ease of use. Similarly, it would be useful to create a GitHub action that runs this tool against a repository in order to generate the required

[2022-06-09 08:17] crux82 commented on #97
@zhzhang can you please check this suggestion for the future releases of ACLPUB2?

[2022-06-09 14:48] tnaumann opened #101 "Cannot compile proceedings"
We need additional information on how to fix a paper that cannot be compiled. Specifically, we are getting an error suggesting that we open the PDF and export it again, but trying this across 4 different PDF programs fails to solve the problem. Neither we nor the authors know how to fix the problem so that their paper can be included in the proceedings. Please let us know how to proceed.

Error me

[2022-06-09 17:39] crux82 commented on #101
Hi Tristan

can you share with me or @ryancotterell (the publication chairs of NAACL) the problematic PDF in a private message?
So we can understand what is happening and solve this issue or provide a better message.

Danilo

[2022-06-09 18:02] crux82 commented on #96
@tnaumann sorry but I do not understand.
If I add a fake title in the program.yml from the sigdial example "Keynote Q&A" I do not have any error.
Why are you escaping the "&" ?

It should be escaped here:

https://github.com/rycolab/aclpub2/blob/aafea519645528c12744779de343e46627fb5c22/aclpub2/generate.py#L623-L624

Sorry but I do not understand...

[2022-06-09 19:00] tnaumann commented on #96
Interesting. On MacOS, the yml above produces the following error:

[code]

While `"Keynote Q\\&A"` successfully compiles. Looking through the code for `normalize_latex_string`, I'm not sure why I'm getting this error either....

https://github.com/rycolab/aclpub2/blob/aafea519645528c12744779de343e46627fb5c22/aclpub2/generate.py#L587-L588

[2022-06-09 21:09] crux82 commented on #96
I found the problem: when loading the program.yml file, the title of sessions was escaped, while the title of sub-sessions did not. I fixed this issue in the tree v1.0 (the one suggested for NAACL).

Can you check it?

@zhzhang can you apply the same update of commit https://github.com/rycolab/aclpub2/commit/2be2f8a61fc4c464f83725c59832d694a205547d in the main branch?

[2022-06-09 21:12] crux82 commented on #101
I used the function "Export as PDF" from the Preview of my MAC to re-export the problematic PDF.
I then removed the pax file associated with it and recompiled it.
@tnaumann if it works, please close this issue.

[2022-06-09 21:44] crux82 commented on #96
I fixed it in the main branch to avoid confusion.

[2022-06-09 22:49] tnaumann commented on #101
Confirming that deleting all `.pax` files prior to calling `./bin/generate` fixes the problem, regardless of re-exporting the PDF. I'll close the bug as it's no longer blocking proceedings generation.

It's unclear to me why the `.pax` that was generated by `openreview/or2papers.py` consistently produces an error, but allowing `./bin/generate` to create these files proceeds without error. Given th

[2022-06-09 22:49] #101 closed

[2022-06-09 23:09] tnaumann commented on #101
Sorry! Realizing now that `openreview/or2papers.py` does _not_ create these files; instead, they were left over in the source directory after running `./bin/generate`. Since that's the case, please ignore my last note about disabling their creation in `openreview/or2papers.py`.

[2022-06-09 23:43] tnaumann commented on #101
Following up, part of my confusion here was that `.pax` files are _output_ to the `papers` _input_ directory. I did not notice this and so even though I had tried "Export as PDF", I had _not_ removed the pax file that was associated with it. Both are required to successfully compile.

A potential mitigation to avoid confusion in future would be to output the `.pax` files to either the `build` or `

[2022-06-10 02:12] tnaumann commented on #96
Confirming that this is fixed.

[2022-06-10 02:12] #96 closed

[2022-06-10 15:42] tnaumann opened #102 "Cleanup or2papers.py"
A few things top of mind:

- [x] Use argparse rather than attempting to read directly from `sys.argv` for username and password
- [x] Throw error rather than assume ACL 2022 for connection string
- [x] Wrap primary execution path in `main` function

[2022-06-10 15:51] crux82 commented on #102
@rswilkens can you please take a look at these suggestions?

TNX

[2022-06-14 14:48] zhzhang commented on #97
@tnaumann the github action is a good idea. Will look into it. I looked into packaging for PyPI but it didn't seem feasible for the reasons you mentioned.
The ideal would be to host this as a web application that has integrations w/ ARR and OpenReview instead.

[2022-06-14 16:33] tnaumann opened #104 "Additional fields in yml files"
Will supplying additional fields in yml files cause unintended effects? Specifically, I would like to know whether adding a `homepage` field in `organizing_committee.yml` will create problems. E.g.,

[code]

This is specifically so that we can use the same yml file as a `_data` file for Jekyll because it would be pretty cool if the same yml files could be used both for website and proceedings!

[2022-06-14 16:52] crux82 commented on #104
@mjpost do you think it can cause any issue in the ingestion process?

[2022-06-22 19:28] tnaumann commented on #104
@mjpost will this cause issues in the ingestion process?

[2022-06-22 19:44] mjpost commented on #104
No, extra fields will not harm us. We only read the fields we care about. Add away!

[2022-06-22 20:47] tnaumann commented on #104
Perfect! FYI this is very cool because it will allow us to use the same yml files to generate both the proceedings (https://github.com/naacl-2022/ClinicalNLP) and our website (https://github.com/clinical-nlp/clinical-nlp.github.io). Opens up a number of possibilities for future years.

[2022-06-30 02:08] xinru1414 opened #111 "Attachments Inconsistency"
Two problems:
- Naming convention:

  - for acl 2022, I've seen attachments named as `papernumber.zip` in the `attachments` folder, e.g. `1.zip` ; however in the `papers.yaml` file they are named as `papernumber_zip` , e.g, `1_zip`.
  - for naacl 2022, I've seen the attachments named as `papernumber_LaTeXSource.zip` or `papernumber_OptionalSupplementaryMaterial.zip` or `papernumber_LaTeXSource.tex

[2022-06-30 12:14] crux82 commented on #111
Hi @xinru1414

I try to clarify this point.

All files should have the classical format: `filename.fileextension`.
During ACL the exporting script had a bug so it exported the files as `filename_fileextension`
This bug is now fixed and (I really hope) you should do not receive any file in the `filename_fileextension`.

Regarding the second point.
The instructions at https://github.com/rycolab/aclp

[2022-07-11 09:33] MirunaClinciu opened #115 "Missing pdfs or other info about the papers"
Many times authors might not provide a camera ready paper and this can raise some issues, e.g. this error: "pdf_file": submission.content["pdf"].split("/")[-1], KeyError: 'pdf.
As I had to solve this quickly, please find attached the following,  it might be useful:

or2papers.py

![image](https://user-images.githubusercontent.com/6933123/178233968-f53b109a-fcb9-4dd0-b5ce-0419e27961d6.png)

openrev

[2022-07-11 18:40] ryancotterell opened #116 "Duplicate id"
We need to add a formatting check for the incoming papers.yml to ensure we don't have duplicate unique identifiers.

[2022-07-14 21:06] mjpost opened #117 "Proper handling of non-archival submissions"
For both ACL and NAACL we have had mistaken submissions of papers that were supposed to be non-archival. I'm not familiar enough with the process to understand why this is happening, but I'm wondering if there is something we could do in aclpub2 to help reduce this? Can we add a `publish: True` flag in the JSON on each paper, with a default value of `False`, for example?

[2022-07-15 19:53] ryancotterell commented on #117
I think this is a good idea. I'll get it up and ready for EMNLP 2022.

[2022-07-25 22:18] mjpost opened #118 "field name typo"
The DeepLo [papers.yml file](https://www.dropbox.com/s/j5lh9h94zebcat9/papers.yml?dl=0) has the field name "instituion" for each author. Raising an issue in case this was generated.

[2022-07-25 22:18] mjpost commented on #118
(Also, [the abstracts were all `t`](https://github.com/acl-org/acl-anthology/issues/2058), not sure why)

[2022-07-25 22:19] ryancotterell commented on #118
These were both human errors :-(

[2022-07-25 22:20] mjpost commented on #118
The best kind!

[2022-07-25 22:20] #118 closed

[2022-07-29 02:10] zhzhang commented on #102
I'll go ahead and make these changes.

[2022-07-29 07:19] rswilkens commented on #102
Thanks @zhzhang

[2022-07-31 01:18] zhzhang commented on #86
We can insert this information into the output papers.yaml

[2022-08-03 07:04] #102 closed

[2022-08-03 13:42] #86 closed

[2022-10-11 08:18] mjpost commented on #104
No, it shouldn’t cause a problem.

[2022-10-14 11:50] danielhers commented on #117
Just to make sure - is this how we should indicate archival (vs. non-archival) papers?

[2022-10-25 00:06] d-ataman commented on #117
hi is the feature active? what is the default value? i am setting publish: False for non-archival papers. thanks!

[2022-10-28 11:52] ryancotterell commented on #117
@zhzhang did we have a fix for this yet?

[2022-10-31 00:21] zhzhang commented on #117
Is the goal to exclude papers where `publish: False` from proceedings?

[2022-10-31 07:39] ryancotterell commented on #117
Yes

[2022-10-31 17:20] zhzhang commented on #117
Gotcha. So the schedule will be printed in full, but only archival papers to appear in proceedings.
There's no fix yet but I'll go ahead and add shortly, with the flag `archival: True` being default.

[2022-10-31 17:34] ryancotterell commented on #117
Thanks!

[2022-10-31 17:38] danielhers commented on #117
Wait, `archival`? I thought it's `publish`.

[2022-11-01 01:17] zhzhang commented on #117
I think the meaning of `archival` is more specific than `publish` right? Let me know if the other makes more sense.
My reasoning is to have the naming of this flag be as specific as possible since we're using these yaml files as input in multiple places.

[2022-11-01 18:18] danielhers commented on #117
Sure, it makes sense to me either way. We should just finalize this soon because I've already told people to use `publish`, and the EMNLP proceedings deadline is approaching.

[2022-11-01 18:23] zhzhang commented on #117
@danielhers would you be able to ask people to switch to `archival` as the field name?
I will go ahead and implement + close this in the evening.
Thanks for the patience.

[2022-11-01 18:26] zhzhang commented on #117
That's correct, and to amend by earlier comment based on the original issue post by Matt, the default value will be `False` so papers will not be archival by default.

[2022-11-03 15:52] davidjurgens commented on #117
Just to check, will this get integrated soon before the deadline? The NLP+CSS workshop also has non-archival papers that need to appear in the program but not the proceedings so we're looking forward to this feature :)

[2022-11-04 18:01] zhzhang commented on #117
PR to fix is above @ryancotterell please review and merge if acceptable.

[2022-11-05 16:18] #117 closed

[2022-11-07 18:41] yufanghou commented on #115
Thank you @MirunaClinciu!

[2022-11-08 16:13] xinru1414 opened #124 "papers.yaml file filled with wrong information"
I've noticed that the `first name` and the `last name` fields in the `papers.yaml` are sometimes filled, both, with author's email addresses instead of their first name and last name.  This will cause ingestion errors -- author's email address will be ingested as their first and last name.

This has happened multiple times with different conference venues. I'm wondering what's causing it, and if t

[2022-11-09 01:58] zhzhang commented on #124
This has to do with unsanitized data coming from OpenReview.net or softconf I believe. @marcopoli any insight on this?

[2022-11-09 03:15] xinru1414 commented on #124
Someone said that this is because some authors did not register on Open Review so the python script was copying their email as first and last names. See [here](https://github.com/acl-org/acl-anthology/issues/1897).

[2022-11-15 01:57] zhzhang commented on #124
Hm, I can't think of a way to address this without forcing people to register if their co-authors submit a paper.
How much names are affected? Is it feasible to fix it manually this time around?

[2022-11-18 11:54] danielhers opened #126 "Building proceedings without papers"
Some workshops have no papers but still want proceedings with invited talks abstracts and schedule.
However, when `papers.yml` is empty, they get [this error](https://github.com/emnlp-2022/SSLL/actions/runs/3491907520/jobs/5845088039):
[code]

[2022-11-18 18:42] zhzhang commented on #126
On it.

[2022-11-22 15:10] isi1314 opened #129 "Failure to compile proceedings"
Compiling the proceedings fails with the following error. I would appreciate any input, thanks!!
<img width="1237" alt="Screen Shot 2022-11-22 at 10 07 47 AM" src="https://user-images.githubusercontent.com/6072141/203349647-da71f253-a51a-4d93-ac0a-258679ea709b.png">

[2022-11-22 16:58] zhzhang commented on #129
This looks like a problem cloning the repo. What steps did you take that lead to this error?

[2022-11-22 23:38] isi1314 commented on #129
Any small change and push leads to this, either with the automatic aclpub2 run on Github, or with an any push from my machine. Also running `aclpub2/bin/generate . --proceedings --overwrite ` on my machine compiles the papers and then gets stuck.

[2022-11-25 14:16] danielpreotiuc opened #130 "Error when compiling proceedings"
Hello,

We have an issue when compiling proceedings for our workshop.

Here is the log: https://github.com/emnlp-2022/NLLP/actions/runs/3548495672/jobs/5959766272

It seems the error is: https://github.com/emnlp-2022/NLLP/actions/runs/3548623835/jobs/5960041782

but I am not sure how to fix it. The logs mention the sponsor logos, so I tried removing them, but it still failed.

I appreciate any inp

[2022-11-28 21:26] zhzhang commented on #130
@ryancotterell could you give me access to the emnlp-2022 organization so that I can have a look at this?

[2022-11-29 21:57] zhzhang commented on #130
@danielpreotiuc if you have admin access to the NLLP repo, you may try granting me permission to view the errors and pull the repos as well!